.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: red; */

}
.home_header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;

}
.home_header_right{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;

     

}
.home_header_right> .MuiSvgIcon-root{
    margin-right: 20px;
    
     

}
.home_header a{
    margin-right: 20px;
    text-decoration: inherit;
    /* color: rgba(0, 0, 0, 0.07); */
    font-size: 15px;

}
/* .home_header a:hover{
    text-decoration: underline;

} */
.home_body>img{
    object-fit: contain;
    height: 100px;
}
.home_body{
    flex: 1;
    display: flex;
    align-items: center;
    /* margin-top: 10%; */
    flex-direction: column;
}











